@{
    ViewData["Title"] = "Home Page";
}
@model DS_Partiel.Models.Joke


<div class="text-center">
    <h1 class="display-4">Welcome To Jokes Website</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label name="query" class="control-label">Click here to generate a Joke</label>
            </div>
            <br />
            <div class="form-group">
                <input type="button" onclick="getFoodFromApi()" value="Click here" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<input readonly="true" name="query" type="text" id="result" class="form-control" />



<script src="https://api.api-ninjas.com/v1/jokes?limit="></script>
<script>

    function getFoodFromApi() {
        $.ajax({
            method: 'GET',
            url: 'https://api.api-ninjas.com/v1/jokes?limit=1',
            headers: { 'X-Api-Key': '3BLKrevatAzwN2XxRxhZyA==VceGaKTpSd7PHv3g' },
            contentType: 'application/json',
            beforeSend: function () {
            },
            success: function (result) {
                console.log(result[0].joke);

                    var foodName = document.getElementById("result");
                    foodName.value = result[0].joke;
                    

            },
            error: function ajaxError(jqXHR) {
                console.error('Error: ', jqXHR.responseText);
            }
        })
    }
</script>